@use 'variables' as vars;

@import './blocks/footer/footer.scss';
@import './blocks/header/header.scss';
@import './blocks/main-content/main-content.scss';
@import './blocks/modal-window/modal-window.scss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    position: relative;
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    position: absolute;
    top: 0;
    left: 0;
}

.centered {
    display:flex;
    justify-content: center;
    align-items: center;
}

.clouds {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__left {
        background: no-repeat url(./assets/cloud-left.svg) -378px/846px;
        top: -556px;
        position: absolute;
        height: 1271px;
        width: 838px;
    }

    &__right {
        position: absolute;
        background: no-repeat url(./assets/cloud-right.svg) 5px/727px;
        right: -715px;
        top: -599px;
        height: 1000px;
        width: 1000px;
        transform: rotate(359deg);
    }

    //mobile
    @media screen and (max-width: 767px) {
        &__left {
            background: no-repeat url(./assets/cloud-left.svg) -185px/368px;
            top: -147px;
            position: absolute;
            height: 290px;
            width: 194px;
        }
    
        &__right {
            position: absolute;
            background: no-repeat url(./assets/cloud-right.svg) 5px/484px;
            right: -279px;
            top: -482px;
            height: 810px;
            width: 462px;
            transform: rotate(352deg);
        }
    }
    //tablet
    @media screen and (min-width: 768px) and (max-width: 1240px) {
        &__left {
            background: no-repeat url(./assets/cloud-left.svg) -245px/506px;
            top: -309px;
            position: absolute;
            height: 652px;
            width: 554px;
        }
    
        &__right {
            position: absolute;
            background: no-repeat url(./assets/cloud-right.svg) 5px/727px;
            right: -712px;
            top: -630px;
            height: 1000px;
            width: 1000px;
            transform: rotate(352deg);
        }
    }
    
}
